/* fraunces-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v31-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --heading-font-family: "Fraunces", serif;
  --main-font-family: "Barlow", sans-serif;
  --dark-cyan: #0e8784;
  --dark-grey-blue: #333d4b;
  --pale-orange: #fdd6ba;
  --light-cream: #fefcf7;
  --grey: #83888f;

  --button-hover: #66d2cf;
}

main {
  flex-grow: 1;
}

*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html {
  height: 100%;
}

img {
  object-fit: cover;
  display: flex;
}

main {
  flex-shrink: 1;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-family);
  font-weight: 400;
  line-height: 26px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 72px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  padding-bottom: 44px;
  padding-bottom: 45px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
}
.site-logo {
}
.site-logo__image {
}
.sitenav {
}
.sitenav__list {
  display: flex;
  gap: 33px;
}
.sitenav__item {
}
.sitenav__link {
  text-transform: uppercase;
  color: var(--grey);
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: 0.923px;
  &:hover {
    color: var(--dark-grey-blue);
  }
}
/* FOOTER */
.footer {
  padding-bottom: 88px;
}
.footer__container {
}
.container {
}
.inner-wrapper {
  background-color: var(--dark-grey-blue);
  display: flex;
  padding-top: 47px;
  align-items: center;
  padding-bottom: 47px;
  padding-left: 50px;
  padding-right: 50px;
  .site-logo {
    margin-right: 103px;
  }
  .sitenav {
    margin-right: auto;
  }
  .sitenav__link:hover {
    color: var(--light-cream);
  }
}
.site-logo {
}
.site-logo__image {
}
.sitenav {
}
.sitenav__list {
}
.sitenav__item {
}
.sitenav__link {
}
.footer__socials__list {
  display: flex;
  gap: 25px;
  align-items: center;
}
.footer__socials__list__item {
}
.footer__socials__list__link:hover {
  svg path {
    fill: var(--pale-orange);
  }
}

.rings {
  margin-bottom: 82px;
  height: 1px;
  width: 760px;
  background-color: var(--pale-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    width: 31px;
    height: 31px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--dark-cyan);
    background-color: #fff;
  }
}
